<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Dice Roller</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <main>
        <div class="titleDiv">
            <h1>You rolled {{ numString }}D{{ diceString }}</h1>
            <h1>You scored {{ scoreString }}</h1>
        </div>
        <br />
        <br />
        <h3>Click "refresh" to re-roll</h3>
        <h3>Click "back" to choose different dice</h3>
        <img src="static/dice.png" alt="dice" />
    </main>
</body>
</html>